/* summary */
body em {
	font-weight: bold;
	text-decoration: underline;
}

body b {
	font-weight: bold;
}

body i {
	font-style: italic;
}

.clear {
	clear: both;
}

p {
	font-size: 1em;
	line-height: 1.4em;
	margin-bottom: 20px;
	
}

section {
	border-top: 1px solid #dedede;
	padding: 10px 0 ;
	overflow: hidden;	
	word-wrap: break-word;	
}

section:first-child {
	border-top: 0;
}

section:last-child {
	padding: 20px 0 10px;
}

#mainArea {
	padding: 0px 25px;
}
#cv {
	width: 90%;
	max-width: 800px;
	background: #f3f3f3;
	margin: 30px auto;
	
}

#name {
	text-align: Center;
}


#name h1 {
	text-align: center;
	font-size: 3em;
	font-weight: 700;
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	padding-bottom: -50px;
	margin-bottom: -30px;
	
}

#name h2 {
	font-size: 2em;
	margin-left: 2px;
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
}


#contactDetails {
	float: right;
}

#contactDetails ul {
	list-style-type: none;
	margin-top: 2px;
}

#contactDetails ul li {
	margin-bottom: 3px;
	color: black;
	font-size: 15px;
}

#icon {
	font-size: 15px;
	color: black;
}

#contactDetails ul li a, a[href^=tel] {
	color: black;
	text-decoration: none;
	-webkit-transition: all .3s ease-in;	
	-o-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

#contactDetails ul li a:hover { 
	color: #e0ad1f;
}


.text{
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-style: normal;
	text-align: center;
	
}
.textedu{
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-style: normal;
	
}

.mainDetails {
	padding: 25px 25px;
	border-bottom: 2px solid #64bce2;
	background: #ededed;
	
	}

.sectionTitle {
	text-align: center;
	margin-top: 10px;
	
}

.sectionTitle h1 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 1.8em;
	color: #5385e4;
	margin-top: 10px;
	


}


.sectionContent {
	text-align: left;
	width: 100%;
	padding-top: 10px;
}

.contentHeader {
	font-weight: bold;
}

.contentDate {
	float: right;
}

.sectionContent ol, ul {
	margin-left: 35px;
}

.subDetails {
	font-size: 0.95em;
	/*font-style: italic;*/
	margin-bottom: 2px;
}

.executiveSummary {
	list-style-type: disc;
	margin-bottom: 10px;
	margin-top: -10px;
	font-size: 1em;
	list-style-position: inside;
	text-indent: -1.5em;
	padding-left: 1em;
	margin-left: 10px;
}

.executiveSummary li {
	margin:0 0 6px 0;
}

.publications {
	float: right;
	width: 72.5%;
	padding-top: 10px;
}

.publications li {
	margin:0 0 6px 0;
}

.publications ul, ol {
	margin-left: 15px;
}

.keySkills {
	list-style-type: disc;
	-webkit-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 50px;
	column-gap: 50px;
	
	margin-bottom: 20px;
	font-size: 1em;	
	list-style-position: inside;
	text-indent: -1.5em;
	padding-left: 1em;
	
}

.keySkills ul li {
	margin-bottom: 3px;
}


/*--------------FLEX GRID-------------*/

.container {
	width: 100%;
	float: right;
	padding-top: 10px;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: left;
	flex-flow: wrap;
}

.box {
	width: 48%;
	height: 55%;
	margin-right: 10px;
	margin-bottom: 10px;
	box-sizing: border-box;
}


/*--------------RESPONSIVE ELEMENTS-------------*/
@media all and (min-width: 602px) and (max-width: 800px) {
	.keySkills {
		-webkit-column-count:1;
		column-count:1;
	}
	
	.box {
		width: 90%;
	}
	
}

@media all and (max-width: 601px) {
	#cv {
		width: 95%;
		margin: 10px auto;
		min-width: 280px;
	}
	
	.box {
		width: 90%;
	}
	
	#name, #contactDetails {
		float: none;
		width: 100%;
		text-align: left;
	}
	
	.sectionTitle, .Titlesummary {
		margin-left: -2px;
		font-size: 1.25em;
	}
	
	.sectionTitle, .Titlesummary, .sectionContent, .publications, .container {
		float: none;
		width: 100%;
	}
	
	.keySkills {		
		-webkit-column-count:1;
		column-count:1;
	}
	
}

@media all and (max-width: 480px) {
	.mainDetails {
		padding: 15px 15px;
	}
	
	section {
		padding: 15px 0 0;
	}
	
	#mainArea {
		padding: 0 25px;
	}
	
	.box {
		width: 90%;
	}
	
	.keySkills {
		
		-webkit-column-count:1;
		column-count:1;
	}
	
	#name h1 {
		line-height: 2em;
		margin-bottom: 4px;
	}
}

@media print {
	#cv {
		width: 100%;
	}
}

@-webkit-keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.instaFade {
	-webkit-animation-name: reset, fade-in;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-timing-function: ease-in;	
	animation-name: reset, fade-in;
	animation-duration: 1.5s;
	animation-timing-function: ease-in;
}

.quickFade {
	-webkit-animation-name: reset, fade-in;
	-webkit-animation-duration: 2.5s;
	-webkit-animation-timing-function: ease-in;	
	animation-name: reset, fade-in;
	animation-duration: 2.5s;
	animation-timing-function: ease-in;
}

.delayOne {
	-webkit-animation-delay: 0, .5s;	
	animation-delay: 0, .5s;
}

.delayTwo {
	-webkit-animation-delay: 0, 1s;	
	animation-delay: 0, 1s;
}

.delayThree {
	-webkit-animation-delay: 0, 1.5s;	
	animation-delay: 0, 1.5s;
}

.delayFour {
	-webkit-animation-delay: 0, 2s;	
	animation-delay: 0, 2s;
}

.delayFive {
	-webkit-animation-delay: 0, 2.5s;	
	animation-delay: 0, 2.5s;
}

